* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.info {
	display: flex;
	justify-content: right;
	font-size: 25px;
	font-weight: bold;
}

.info a {
	text-decoration: none;
	color: black;
}

.info a:nth-of-type(1) {
	margin-right: 30px;
}

.info a:nth-of-type(2) {
	margin-right: 100px;
}

.logo-img {
    width: 150px;
	position: relative;
	z-index: 2;
}

.menu {
    padding: 20px 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between; 
	position: relative;
}

.menu a {
    font-size: 25px; 
    font-weight: bold;
}

.sub-menu {
    display: flex; 
    position: absolute;
    left: 0; 
	top: 85px;
    width: 100%; 
    height: 100px; 
    justify-content: space-between;
	border-bottom: 1px solid rgb(148, 53, 27);
}

.sub-menu ul {
    list-style: none; 
    flex: 1;
    text-align: center;
	margin-top: 42px;
}

.sub-menu ul:nth-of-type(1) {
	margin-left: 200px;
}

.sub-menu ul li:nth-of-type(1) {
	margin-bottom: 40px;
	cursor: pointer;
}

.sub-menu ul li:nth-of-type(2) {
	margin-bottom: 20px;
}

.sub-menu ul li:nth-of-type(2), li:nth-of-type(3) {
	display: none;
}

.sub-menu ul li:nth-of-type(1) {
	box-sizing: content-box;
	background-color: white;
	color: rgb(148, 53, 27);
}

.black {
	color: black;
	text-decoration: none;
}