body {
	background-color: #f9f9f9;
	color: #333;
	margin: 0;
	padding: 0;
}

.qna-container {
	max-width: 800px;
	margin: 50px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #333;
	font-size: 50px;
	font-weight: bold;
}


.qna-detail p {
	font-size: 18px;
	margin-bottom: 10px;
}

.qna-detail strong {
	color: #555;
}

.qna-content {
	margin-top: 20px;
	background-color: #f4f4f4;
	padding: 15px;
	border-radius: 5px;
	line-height: 1.6;
	font-size: 18px;
}

.button-section {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.btn-delete {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size: 18px;
	margin-top: 20px;
}

.btn-delete:hover {
	background-color: #45a049;
}

.btn-confirm {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-left: -130px;
	margin-top: 20px;
	font-size: 18px;
}

.btn-confirm:hover {
	background-color: #45a049;
}

.btn-exit {
	padding: 10px 20px;
	background-color: #f44336;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size: 18px;
	margin-top: 20px;
}

.btn-exit:hover {
	background-color: #d32f2f;
}

table {
	border-collapse: collapse;
	font-size: 18px !important;
}

td {
	padding: 10px;
	border-bottom: 1px solid lightgrey;
}