.board {
	width: 80%;
	margin: 20px auto;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-radius: 10px;
}

.board h2 {
	color: rgb(41, 15, 5);
	text-align: center;
	margin-bottom: 50px;
	font-size: 25pt;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

td {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

th, td {
	padding: 10px;
	font-size: 16px;
	text-align: center;
	color: rgb(41, 15, 5);
}

th {
	background-color: #FCEDDF;
}

thead {
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}

.board {
	position: relative;
	width: 80%;
	margin: 20px auto;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-radius: 10px;
}

.actions-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 25px;
}

.search-container {
	display: flex;
	flex-grow: 0.3;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	gap: 10px;
	margin-right: auto;
}

.search-form {
	margin-left: auto;
}

.search-select, .search-input {
	padding: 8px;
	font-size: 14px;
	border: 1px solid rgb(207, 170, 156);
	border-radius: 5px;
}

.search-button {
	padding: 8px 15px;
	background-color: rgb(244, 228, 209);
	color: rgb(41, 15, 5);
	border: 1px solid rgb(207, 170, 156);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.search-button:hover {
	background-color: rgb(207, 170, 156);
	color: white;
}

.pagination {
	justify-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 5px;
}

.pagination a {
	padding: 8px 12px;
	color: #290f05;
	margin: 5px;
	font-size: 14px;
}

.pagination a:hover {
	background-color: rgb(207, 170, 156);
	color: white;
}

.button-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
	flex-wrap: wrap;
}

.button-container button {
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 8px 12px;
	background-color: #FCEDDF;
	color: #290f05;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.button-container button:hover {
	background-color: rgb(207, 170, 156);
	color: white;
}

@media (max-width: 768px) {
	.actions-container {
		flex-direction: column;
		align-items: flex-start;
	}

	.search-container, .button-container {
		width: 30%;
	}

	.button-container {
		justify-content: flex-start;
	}

	.pagination {
		justify-content: flex-start;
	}
}