* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.menuBar img.logo {
    width: 150px;
    margin-bottom: 20px;
}

.menuBar a {
    display: block;
    color: wheat;
    text-decoration: none;
    font-size: 15px;
    margin: 20px 0;
    padding: 10px;
    transition: 0.3s;
}

.menuBar a:hover {
    background-color: wheat;
    color: rgb(41, 15, 5);
    border-radius: 5px;
}

.content {
    padding: 50px;
}

.board {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: rgb(41, 15, 5);
    font-size: 28px;
    margin-bottom: 40px;
}

.approval-type {
    text-align: center;
    margin-bottom: 30px;
}

.approval-type label {
    font-size: 18px;
    color: rgb(41, 15, 5);
    margin-right: 10px;
}

.approval-type select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form.approval-form {
    display: none;
    background-color: rgba(255, 252, 249, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form h3 {
    font-size: 22px;
    color: rgb(41, 15, 5);
    margin-bottom: 20px;
}

form label {
    font-size: 16px;
    color: rgb(41, 15, 5);
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="date"],
form input[type="number"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form textarea {
    height: 100px;
    resize: none;
}

form button {
    padding: 10px 20px;
    background-color: rgb(41, 15, 5);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* 버튼 컨테이너를 우측 정렬 */
.button-container {
    text-align: right;
}

.button-container button {
    padding: 10px 20px;
    background-color: rgb(41, 15, 5);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px; /* 버튼 간 간격 */
}

.button-container button:hover {
    background-color: wheat;
    color: rgb(41, 15, 5);
}

/* 취소 버튼 스타일 */
.cancel-button {
    background-color: #ccc;
}

.cancel-button:hover {
    background-color: #999;
}

form input[type="file"] {
    padding: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}
