* {
	box-sizing: border-box;
    margin: 0px;
	padding: 0px;
}

.title {
    height: 100px;
    background-color: white;
    text-align: center;
    position: relative;
}

.title .logo img {
    position: relative;
    float: left;
    width: 140px;
    height: 139px;
    z-index: 2;
    left: 30px;
}

button:hover {
    background-color: rgb(148, 53, 27);
    color: wheat;
}

.menu-box {
    transform: translateY(70px);
    position: absolute;
	background-color: white;
}

.menu-box a {
    text-decoration: none;
    color: rgb(148, 53, 27);
    cursor: pointer;
    font-weight: 900;
    margin-left: 55px;
    transition: 0.3s;
    border-radius: 10px;
    font-size: 20px;
}

.t1 {
    transform: translateX(450px);
    border: solid 1px;
    width: 100px;
}

.t1 a {
    transform: translateX(00px);
    width: 100px;
    display: block;
    border: solid 1px;
}

.menu_box {
	position: relative;
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: white;
	border-bottom: 1px solid rgb(148, 53, 27);
}

.menu_box a {
    font-weight: 900;
    color: rgb(148, 53, 27);
    text-decoration: none;
    font-size: 25px;
    margin-left: 26px;
}

.a1 {
	display: inline-block;
	position: absolute;
	transform: translateX(-750px) translateY(-10px);
}

.a2 {
	display: inline-block;
	position: absolute;
	transform: translateX(600px) translateY(-10px);
}
