*{
    margin: 0 auto;
}
.map{
    border: solid 1px;
   float: left;
   left: 0;
}
input[id= "ham"]{
    display: none;
}
label[for = "ham"]{
    position: absolute;
    top:20px;
    z-index: 10;
    width: 50px;
    height: 50px;
    transform: translateX(30%);
}
label[for = "ham"]>span{
    position: absolute;
    height: 3px;
    border-radius: 2px;
    background-color: rgb(16, 6, 6);
    width: 50px;
    top:15px;
    cursor: pointer;
    transition: 0.3s;
}
label[for = "ham"]>span:nth-child(1){
    position: absolute;
   
    width: 50px;
    top:15px;
    cursor: pointer;
}
label[for = "ham"]>span:nth-child(2){
    position: absolute;
  
    width: 50px;
    top:30px;
}
label[for = "ham"]>span:nth-child(3){
    position: absolute;
    
    width: 50px;
    top:45px;
}
.chart{
    width: 100%;
    height: 200px;
   
    background-color: rgb(244, 228, 209);
}
main h1 {
    transform: translateY(-100px);
}

input[id = "ham"]:checked + label[for = "ham"]>span:nth-child(1){
    background-color: brown;
    top:10px;
    transform: translateX(-10%) rotate(45deg);

}
input[id = "ham"]:checked + label[for = "ham"]>span:nth-child(2){
    opacity: 0;

}
input[id = "ham"]:checked + label[for = "ham"]>span:nth-child(3){
    background-color: brown;
    top:10px;
    transform: translateX(-10%) rotate(-45deg);

}
input[id = "ham"]:checked + label[for = "ham"]+.intro{
    left: 0;
}
.intro{
    transition: 0.2s;
    overflow: hidden;
   
    height: 100vh; 
    width: 0px;
    font-size: 10px;
    text-align: center;
    background-color: rgb(41, 15, 5);
    color: wheat;
}
.intro img {
    width: 100px;
    height: 100px;
    transform: translateY(90px);
}
.intro i{
    transform: translateY(100px);
    font-size: 30px;
    color: rgb(0, 0, 0);
    border: solid 1px wheat;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(244, 228, 209);
}
.intro li:hover {
    color: white;
    background-color: #eabd9b;
}
.box a{
    transform: translateY(400px);
   width: 100px;
   display: block;
   margin-top: 10px;
   text-decoration: none;
   color: white;
   transition: 0.3s;
}
.box i {
    transition: 0.3;
    font-size: 20px;
   
}
.box i:hover{
    animation: ro linear 1s infinite;
    
}
.box a:hover{
    color: #eabd9b;
  
}
@keyframes ro{
    0%{
        rotate: 45deg;
    }
    100%{
       rotate: 45deg;
    }
}
.intro p {
    transform: translateY(150px);
    font-size: 12px;
    font-weight: 900;
    color: white;
}
.intro h1{
    transform: translateY(150px);
    color: white;
    
}
.intro ul{
    transform: translateY(100px);
}
.intro li{
    font-size: 20px;
    transform: translateX(-30%) translateY(50px);
    cursor: pointer;
    list-style: none;
    margin-top: 20px;
    transition: 0.3s;
    border-radius: 10px;
}
input[id ="ham"]:checked ~ .intro{
    width: 120px;
}
header{
    position: relative;
    float: left;
    width: 19%;
    height: 100%;
 
    z-index: 100;
    
    
}
main{
    position: relative;
    float: right;
   
    width: 80%;
    height: 100%;
  
 
}
.title{
    z-index: 2;
    position: absolute;
    height: inherit;
}
.box{
   
 
    height: 400px;
    text-align: center;
   
    border: solid 1px;
    box-sizing: border-box;
    width: 100px;
    height: inherit;
    
   position: absolute;
    transform: translateX(120px);    
    border-radius: 0px 20px 20px 0px;
    background-color: rgb(10, 6, 3);

    
}
.search-container select,
.search-container input {
    padding: 10px;
    font-size: 16px;
  
   
}
.container{
    transform: translateY(-200px);
}

.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(41, 15, 5);
    color: #fff;
    border: none;
    cursor: pointer;
}
.box a{
    transform: translateY(400px);
   
   display: block;
   margin-top: 10px;
   text-decoration: none;
   color: white;
}
.active{
    display: block;
}
/*attr*/
#d1,#d2,#d3,#d4,#d5{
    display: none;
  
}
#d1.active,#d2.active,#d3.active,#d4.active,#d5.active{
    display: block;
    
}
/*헤더 부분 완료*/

/*물결 부분*/
.divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
   
}

.divider svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 82px;
    transform: rotateY(180deg);
}

.divider .shape-fill {
    fill: #eabd9b;
}
/*메인 부분*/
table {

    background-color:white;
    width: 80%;
    border-collapse: collapse; 
    border: none;
 
    position: absolute;
    transform: translateY(170px);
    
    /* display: none; */
}

/* 표 헤더(th) 스타일 */
th {border-bottom:solid ;
    background-color: (244, 228, 209);
    padding: 10px; 
    text-align: center; 
    color:white;
    background-color: rgb(33, 16, 9);
}

/* 표 데이터 셀(td) 스타일 */
td {
    border-bottom:2px solid ;
    padding: 10px;
    text-align: center; 
    color: rgb(41, 15, 5); 
}
.pagination{
    position: absolute;
    top: 90%;
     left: 55%;
 }

 .btn{
    position: absolute;
    left: 150px;
    top:90px;
    width: 100%;
   
    text-align: center;
}
.btn button{
    background-color: rgb(16, 6, 6);
    color: #eabd9b;;
    font-weight: 900;
    position: absolute;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}
.download-button {
    border: solid 1px;
    position: absolute;
    transform: translateY(100px);
   /* right: 0;*/
    padding: 10px 20px;
   background-color: rgb(33, 16, 9);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.buttons{
 
    position: absolute;
    top:700px;
    transform: translateY(-200px);
    width: 80%;
    text-align: center;
}
.buttons button{
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: #eabd9b;
    background-color: rgb(10, 6, 3);
}
.menu{
    position: relative;
    bottom: 0;
    position: fixed;
    border: solid 1px;
    width: 100%;
    height: 100px;
    text-align: center;
    z-index: 1000;
    background-color: rgb(10, 4, 1);
  
}
.menu button{
    transform: translateY(5px);
    border: none;
    color: wheat;
    background-color: rgb(10, 4, 1);
    background-color: none;
    margin: 10px;
    font-size: 30px;
    background-color: rgb(41, 15, 5);
    border-radius: 20px;
    padding: 10px;
    transition: 0.3s;
}
.menu button:hover{
    background-color: rgb(244, 228, 209);
    color: rgb(10, 6, 3);
}
.log2{
    position: relative;
    transform: translateX(-400px);
    top:10px;
    transition: 0.5s;
}
.menu p{
    position: absolute;
}
.menu span{
    position: absolute;
    cursor: pointer;
    transition: 0.5s;
    width: 70px;
    height: 70px;
    top:20px;
  
    
    border-radius: 70px 50px 70px 40px
}
.menu span:nth-child(1){
   

    top:10px;
    animation: rol linear 3s infinite reverse;
    transform: rotate(-10deg) ;
    border-radius: 70px 50px 70px 40px;
    background-color: rgb(235, 92, 40);
    opacity: 2;

}

.menu span:nth-child(2){
  

    top:10px;
    animation: rol linear 5s infinite;
   background-color: rgb(235, 92, 40);
   opacity: 0.8;
    border-radius: 70px 50px 70px 40px

}
.menu span:nth-child(3){
   

    top:10px;
    animation: rol linear 5s infinite;
   
    border-radius: 70px 50px 70px 40px;
    background-color: rgb(235, 92, 40);
    opacity: 0.5;

}
.log3 a{
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-family:400;
    top:32px;
    font-weight: 1000;
    color: rgb(0, 0, 0);
    transform: translateX(6px);
}
@keyframes rol {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.log2:hover  span:nth-child(1){
    opacity: 2;
    background-color: rgb(244, 228, 209);
}
.log2:hover  span:nth-child(2){
    opacity: 0.8;
    background-color: rgb(244, 228, 209);
}
.log2:hover  span:nth-child(3){
    opacity: 0.5;
    background-color: rgb(244, 228, 209);
}
