
.video-frame {
    content: '';
    /*배경화면 오른쪽에서 주기 위해 -넣고, 살짝 흐리게 transparent*/
    background: linear-gradient(-130deg, rgb(82, 26, 2), transparent);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}

.video-frame video{

    /*비디오 전체 화면 */
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.logo{
    position: absolute;
    width: 800px;
}   
.logo img{
    width: 100%;
    height: 100%;
}
.heading{
  
    animation: showing 3s;
    text-align: center;
    width: 100%;
  display: flex;
}


.heading h1{
    font-size: 350px;
    bottom: 850px;
    
    color:rgb(225, 222, 222);
    font-weight: 300%;
    position: absolute;
    left: 800px;
    
}

.heading p{
    display: block;
    position: absolute;
    font-size: 100px;
    bottom: 400px;
    left: 200px;
    color: rgb(255, 255, 255);
}
.btn1{
    position: absolute;
   
    width: 900px;
    height: 200px;
    bottom: 700px;
    left: 1800px;
    background-color: rgb(244, 228, 209);
    border-radius: 90px;
    color: rgb(109, 40, 14);
    font-size: 120px;
    transition: 0.5s;
    font-weight: 1000;
}
.heading a{
    text-decoration: none;
    
    text-align: center;
    
}

.btn2{
    position: absolute;
    width: 900px;
    height: 200px;
    bottom: 700px;
    left: 2800px;
    text-align: center;
    background-color: rgb(253, 214, 140);
    border-radius: 90px;
    color:  rgb(109, 40, 14);
    font-size: 120px;
    font-weight: 1000;
    transition: 0.5s;
    
}
.btn1:hover{
   background-color: rgb(109, 40, 14);
   color: rgb(244, 228, 209);
}
.btn2:hover{
    color: wheat;
    background-color: rgb(109, 40, 14);
}


.logo{
    position: absolute;
    bottom: 1500px;
    left: 2320px;
}
img{
    border-radius: 20%;
    scale: 0.7;
    transition: 0.3s;
}
img:hover{
    animation: rotate linear 5s;
    
}

@keyframes rotate{
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(45deg);
    }
}


 @keyframes ani {

0%{
    transform: translateX(0);
}
100%{
    transform: translateX(120px);
}

 }
@keyframes showing {
    0%{
        margin: left;
        opacity: 0;
    }
    100%{
        margin: left;
        opacity: 1;
    }
}



@keyframes showing2{
    0%{
        margin: right;
        opacity: 0;
    }
    100%{
        margin: right;
        opacity: 1;
    }
}
.menubox{
    top: 200px;
    width: 200px;
    height: 100px;
    position: absolute;
    right: 50px;
    cursor: pointer;
    z-index: 100;/*화면 맨 앞으로 나오게*/
}

.menubox span{
    position: absolute;
    background-color:  black;
    width: 200px;
    border: solid 1px;
    height: 2px;
    border-radius: 20px;
    transition: 0.3s;

}
span:nth-child(1){
    top:0px;
}
span:nth-child(2){
    width: 100px;
    height: 5px;
    top:50%;
}
span:nth-child(3){
    top:100%;
}

.menubox.active span:nth-child(1){
    top:50%;
    transform: rotate(45deg);
}
.menubox.active span:nth-child(2){
    opacity: 0;
}
.menubox.active span:nth-child(3){
    top:50%;
    transform: rotate(-45deg);
}

.ground{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(5, 1, 26);
    opacity: 90%;
    display: none;
}
.gbar1{
    position: absolute;
    width: 100%;
    
}  
.gbar1 a{
    margin: 50px;
    padding: 0;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 400px;
    transition: 0.3s;
    content: ' ';
    
} 
.gbar1 a:hover{
 opacity: 10%;

}
/*신규 추가*/

