* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}
.container h1 {
    margin-top: 130px; 
    /* 모바일에서는 이거 조절 */
}
.search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.search-container select,
.search-container input {
    padding: 10px;
    font-size: 16px;
    margin-right: 5px;
}
.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(244, 228, 209);
    color: #000;
    border: none;
    cursor: pointer;
}
table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: #fff;
    table-layout: fixed;
}
tr {
    border-bottom: solid 1px rgb(165, 81, 42);
}
th, td {
    padding: 12px;
    text-align: center;
    overflow-wrap: break-word;
}
th {
    background-color: rgb(244, 228, 209);
    color: #000;
}
.no-results {
    text-align: center;
    padding: 20px;
}
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 4px;
    background-color: rgba(255, 255, 255, 0.8);
}
.pagination a {
    padding: 10px;
    font-size: 16px;
    background-color: white;
    color: rgb(41, 15, 5);
    text-decoration: none;
}
.pagination a.active {
    background-color: rgb(244, 228, 209);
    color: #000;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
        align-items: flex-end;
    }
    .search-container select,
    .search-container input,
    .search-container button {
        width: 100%;
        margin-bottom: 10px;
    }
    .pagination {
        flex-direction: column;
        align-items: center;
    }
}