*{
    margin: 0 auto;
}
header{
    
    position: relative;
    float: left;
    height: 1000vh;
    width: 200px;
    background-color: rgb(41, 15, 5);
    z-index: 100;
    text-align: center;
    

}
.mark{
    position: relative;
    top: 100px;
    left: 20px;
}
.content {
    transform: translateY(10px);
}
.content a{
    text-decoration: none;
    color: wheat;
}
.mark:hover span{
    background-color: orangered;
    border: none;
}
.mark:hover span:nth-child(1){
    background-color: orangered;
    border: none;
}
.mark:hover span:nth-child(2){
    background-color: orangered;
    border: none;
}
.mark:hover span:nth-child(3){
    background-color: orangered;
    border: none;
}
.mark span{
    position: absolute;
    border: solid 1px wheat;
    width: 120px;
    height: 95px;
    left: 15px;
    top:-20px;
    border-radius: 50px 30px 40px 30px;
    animation: animation linear infinite 7.5s;
    
}
.mark:hover span{
    border: none;
    background-color: orangered;
    transition: 0.5s;
    opacity: 0.3;
}
.mark:hover span{
    border: none;
    background-color: orangered;
    opacity: 0.3s;
}
.mark:hover span:hover{
    border: none;
    background-color: orangered;
    opacity: 0.3s;
}
.mark span:nth-child(1){
  
   animation: animation linear infinite 6s;
    animation-direction: reverse;
    opacity: 0.8;

}
.mark span:nth-child(2){
  
    animation: animation linear infinite 6.1s;
    opacity: 0.6;

}
.mark span:nth-child(3){
    animation: animation linear infinite 6.2s;
    opacity: 0.3;
}


.selector {
    border-radius: 0px 10px 0px 0px;
    width: 100px;
    height: 1000vh;
    margin-left: 200px;
    margin-right: 0 ;
   background-color: rgb(16, 6, 6);
   transform: translateY(-426px);
    height: 1000vh;
    
    text-align: center;

}
.selector a{
    height: 30px;
     display: block;
     position: relative;
     top: 400px;
     text-decoration: none;
     color: wheat;
     font-size: 23px;
     margin-top: 30px;
 }
 .selector i {
     color: white;
     font-size: 30px;
 }
.menubar{
    position: relative;
    top:40px;
    color:rgb(244, 228, 209);
    top:200px;
}
.menubar li{
    margin-top: 10px;
    list-style: none;
    transform: translateX(-20px);
    font-size: 25px;
    cursor: pointer;
    
}
.menubar i{
    position: absolute;
    top:-30px;
    font-size: 20px;
   
}
.menubar h3{
    font-size:15px;
    color: rgb(211, 59, 4);
 
}

.menubar p{
    transform: translateY(-10px);
    font-size: 20px;
    font-weight: 800;
}
.menubar h3{
    color: white;
    transform: translateY(-10px);
    font-size: 30px;
    
}


.metabar{
    position:relative;
 
    width: 50px;
    height: 50px;
    top:5px;
   z-index: 50;
    cursor: pointer;
    left: 5px;
}
.metabar span{
    position: absolute;
    border: solid 2px ;
    color: wheat;
    width: 49px;
    border-radius: 10px;
}
.metabar span:nth-child(1){
    position: absolute;
    border: solid 2px ;
    color: wheat;
    width: 47px;
    transform: translateY(15px);
    
}
.metabar span:nth-child(2){
    position: absolute;
    border: solid 2px ;
    color: wheat;
    width: 47px;
    transform: translateY(30px);
    
}
.metabar span:nth-child(3){
    position: absolute;
    border: solid 2px ;
    background-color: wheat;
     width: 47px;
    transform: translateY(45px);
    
}
.metabar:active span:nth-child(1){
    transform: rotate(45deg);
    color: #ea9a5d;
}
.metabar:active span:nth-child(2){
    opacity: 0;
    
}
.metabar:active span:nth-child(3){
    
    transform: rotate(-45deg);
   color: #ea9a5d;
}

.home{
    background-color: rgb(41, 15, 5);
    position: relative;
    float: left;
    height: 100vh;
    width: 200px;
     z-index: 100;
    text-align: center;
    position: fixed;
    
 
}
.mya {
   transition: 0.5s;
}
.menubar{
    position: relative;
    
    color: wheat;
    top:100px;
    display: block;
}

.menubar h2{
    font-size:15px;
    color: rgb(211, 59, 4);
 
}
.menubar p{
    transform: translateY(-5px);
    transition: 0.3s;

}
.menubar h3{
    color: white;
    transform: translateY(-5px);
    
}

.mya a{
    left: 50px;
    font-size: 15px;
    color: wheat;
    text-decoration: none;
    margin-top: 12px;
    display: block;
    font-weight: 400;
    
   
    display: block;
   
    width: 200px;
 
}
.menuBar a:hover{
    color: orangered;
    background-color: black;
    opacity: 1;
    opacity: 1;
    width: 120px;
    border-radius: 5px;
    transition: 0.3s;
}
.mark{
    position: relative;
    top:90px;
    width: 100px;
    height: 100px;
    transition: 0.3s;
    left: -30px;
}
.content{
    border: solid 1px color wheat;
    position: relative;
    top:10px;
    left: 20px;
}
.content a{
    position: absolute;
    transform: translateY(-10px);
    text-decoration: none;
    color: wheat;
    left: 30px;
    font-size: 15px;
    z-index: 10px;
}
mark:hover span{
    background-color: orangered;
    border: none;
}
mark:hover span:nth-child(1){
    background-color: orangered;
    border: none;
}
mark:hover span:nth-child(2){
    background-color: orangered;
    border: none;
}
mark:hover span:nth-child(3){
    background-color: orangered;
    border: none;
}
.mark span{
    position: absolute;
    border: solid 1px wheat;
    width: 120px;
    height: 95px;
    left: 15px;
    top:-20px;
    border-radius: 50px 30px 40px 30px;
    animation: animation linear infinite 7.5s;
    
}
.menubar i{
    transform: translateX(10);
    font-size: 25px;
}
.mark:hover span{
    border: none;
    background-color: orangered;
    transition: 0.5s;
    opacity: 0.3;
}
.mark:hover span{
    border: none;
    background-color: orangered;
    opacity: 0.3s;
}
.mark:hover span:hover{
    border: none;
    background-color: orangered;
    opacity: 0.3s;
}
.mark span:nth-child(1){
  
   animation: animation linear infinite 6s;
    animation-direction: reverse;
    opacity: 0.8;

}
.mark span:nth-child(2){
  
    animation: animation linear infinite 6.1s;
    opacity: 0.6;

}
.mark span:nth-child(3){
    animation: animation linear infinite 6.2s;
    opacity: 0.3;
}
@keyframes animation {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
/*현재 포지션 fixed */
main{
    width: 100px;
    height: 100vh;
}
.selec{
    border-radius: 0px 10px 0px 10px;
    width: 100px;
    height: 100vh;
    margin-left: 200px;
    margin-right: 0 ;
   background-color: rgb(16, 6, 6);
  
    height: 1000vh;
   
    text-align: center;

}

.selec,.selec2 {
    border-radius: 0px 10px 0px 10px;
    width: 100px;
    height: 100vh;
    margin-left: 200px;
    margin-right: 0 ;
   background-color: rgb(16, 6, 6);
   transform: translateY(-326px);
    height: 1000vh;
   
    text-align: center;
   
}
.selec3{
    border-radius: 0px 10px 0px 10px;
    width: 100px;
    height: 100vh;
    margin-left: 200px;
    margin-right: 0 ;
   background-color: rgb(16, 6, 6);
   transform: translateY(-206px);
    height: 1000vh;
   
    text-align: center;
   
  

}
.selec4{
   
    border-radius: 0px 10px 0px 10px;
    width: 100px;
    height: 100vh;
    margin-left: 200px;
    margin-right: 0 ;
   background-color: rgb(16, 6, 6);
   transform: translateY(-206px);
    height: 1000vh;
   
   
    text-align: center;

}

.menuBar button{
    display: block;
    cursor: pointer;
    border: none;
    font-size: 15px;
    width: 100px;
    height: 20px;
    transition: 0.3s;
    
    transform: translateY(10px);
    border-radius: 7px;
    color: rgb(41, 15, 5);
    font-weight: 500;
    background-color: wheat;
    text-decoration: none;
    margin-top: 10px;
}
.btn{
    position: absolute;
    left: 50px;
}
.selector3 a,
.selector2 a,
.selector a{
    font-size: 20px;
   height: 50px;
    display: block;
    position: relative;
    top: 320px;
    text-decoration: none;
    color: wheat;
}
.selector3 i,
.selector2 i,
.selector i {
    color: white;
}

main{
    height: 100vh;
    width: 100%;
    
}
.nav1{
    background-color: rgb(244, 228, 209);
    height: 300px;
    
    
}
.menubar a{
    transform: translateY(100px);
    left: 50px;
    font-size: 15px;
    color: rgb(244, 228, 209);
    text-decoration: none;
    margin-top: 12px;
    display: block;
    font-weight: 400;
    transition: 0.3s;
   
 
}
.menubar a:hover, .menubar.active{
    color: brown;
    background-color: wheat;
}
.btn li:hover,
.btn li.active{
    background-color: rgb(165, 81, 42);
}
#d1,#d2,#d3,#d4,#d5{
    display: none;
}
#d1.active,#d2.active,#d3.active,#d4.active,#d5.active{
    display: block;
}


.chart{
    
    width: 100%;
    height:300px;
    position: relative;
    background-color: rgb(244, 228, 209);

    text-align: center;
   
}
.chart h1{
    position: relative;
    top:-10px;
    left: -140px;
    font-size: 30px;
    font-weight: 1400;
    width: 300px;
    color: rgb(41, 15, 5);
    transform: translateY(100px);
}
.maption {
    position: relative;
    top:-100px;
    text-align: center;
    
}
.map1{
    transform: translateX(100px);
    width: 240px;
    border-radius: 12px;
    background-color: rgb(62, 30, 17);
    height: 180px;
    right: -500px;
    top:-90px;
    margin-left: 10px;
    display: inline-block;
}
.map1 i{
    font-size: 70px;
    position: absolute;
    left: 80px;
    bottom: 72px;
    color: wheat;

}
#m1 p{
   transform: translateX(80px); 
}
.map1 p{
    position: absolute;
    top: 110px;
   transform: translateX(88px);
    color: wheat;
    font-size: 25px;
}

.map1 button{
    position: absolute;
    left: 80px;
    transform: translateY(148px);
    background: none;
    border: none;
    background-color: wheat;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    width: 80px;
    transition: 0.5s;
    font-weight: 800;
}
.map1 button:hover{
    background-color: rgb(0, 0, 0);
    color: wheat;
    display: block;
}

.asian{

 width: 100%;
 border: solid 1px;
    height: 200px;
   text-align: center;
  
}

table[id = "africa"],table[id = "asian"],table[id = "american"]{
    transform: translateX(100px);
    position: relative;
   width: 1000px;
   top:10px;
   border-collapse: collapse;
   
}



th{
    border-bottom: solid 1px black;
    background-color: rgb(33, 16, 9);
    color: wheat;
}
td{
    border-bottom: solid 1px white;
}
input[type = "text"]{
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    color: rgb(77, 25, 6);
    background-color: #ea9a5d;
}
.search{
    position: relative;
   width: 200px;
   top:40px;
   left: 550px;
}
.search i{
    color: wheat;
    left: 15px;
    top:8px;
    position: absolute;
}
.search input:focus {
   color: wheat;
   background-color:rgb(41, 15, 5) ;
}
table{
    text-align: center;
}
td{
   
    background-color: rgb(245, 239, 232);
}
.divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.divider svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 82px;
    transform: rotateY(180deg);
}

.divider .shape-fill {
    fill: #eabd9b;
}
