* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.content {
	width: 80%;
	margin: auto;
}

.content h1 {
	margin-top: 40px;
}

.material-section {
	margin-top: 50px;
	margin-bottom: 40px;
}

.header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	margin: 0 auto;
}

.scheduler {
	align-items: center;
	justify-content: flex-start;
}

.scheduler label {
	margin-right: 10px;
	font-size: 16px;
	color: #333;
}

.scheduler input {
	padding: 5px;
	margin: 0 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 14px;
}

.action-buttons {
	justify-content: flex-end;
}

.action-button {
	margin-top: 10px;
	padding: 8px 15px;
	background-color: rgb(244, 228, 209);
	color: rgb(41, 15, 5);
	border: 1px solid rgb(207, 170, 156);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size: 14px;
}

.action-button:hover {
	background-color: rgb(207, 170, 156);
	color: white;
}

table {
	text-align: center;
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	background: #fff;
	table-layout: fixed;
}

table th, table td {
	padding: 12px;
	text-align: center;
	overflow-wrap: break-word;
}

table th {
	background-color: rgb(252, 237, 223);
	font-weight: bold;
	color: rgb(62, 30, 17);
	border-top: 2px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

table td {
	color: rgb(62, 30, 17);
}

tbody tr:nth-child(n+1):nth-child(-n+50) td {
	border-bottom: 1px solid #e0e0e0;
}

.hidden {
	display: none;
}

.load-more-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#load-more-btn {
	padding: 8px 15px;
	background-color: rgb(244, 228, 209);
	color: rgb(41, 15, 5);
	border: 1px solid rgb(207, 170, 156);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size: 16px;
}

#load-more-btn:hover {
	background-color: rgb(207, 170, 156);
	color: white;
}

.editable {
	cursor: text;
}

.status-table tr:hover .editable {
	border: 1px solid #ccc;
}

.deletable-row {
	cursor: pointer;
}

.deletable-row:hover {
	border: 2px solid orangered;
	cursor: pointer;
}

.tooltip {
	display: none;
	position: absolute;
	background: #333;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	font-size: 0.8em;
	z-index: 1000;
}

.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none; 
    border: none; 
    background: transparent; 
    cursor: pointer;
}

.scroll-to-top img {
    width: 40px; 
    height: 40px; 
}

.scroll-to-top:hover img {
    opacity: 0.8; 
}

@media (max-width: 400px) {
	.content {
		width: 95%;
	}

	.controls {
		flex-direction: column;
		align-items: flex-start;
	}

	.scheduler {
		flex-direction: column;
	}

	.action-buttons {
		flex-direction: column;
		align-items: stretch;
		width: 100%;
	}

	.action-button {
		width: 100%;
		margin-bottom: 10px;
	}

	.status-table {
		font-size: 18px;
	}
}

@media (max-width: 400px) {
	.scheduler input {
		font-size: 12px;
	}

	.action-button {
		width: 100%;
		margin-bottom: 10px;
	}

	.status-table th, .status-table td {
		padding: 5px;
	}
}