body { margin: 0; }

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateX(14%);
	text-align: center;
	width: 80%;
	margin-bottom: 5px;
}

h1 { margin-bottom: 20px; }

/*메인 부분*/
table {
	background-color: white;
	width: 100%;
	border-collapse: collapse;
	border: none;
	margin-bottom: 15px;
	/* display: none; */
}

/* 표 헤더(th) 스타일 */
th {
	background-color: rgb(252, 237, 223);
	font-weight: bold;
	color: rgb(62, 30, 17);
	padding: 10px;
	text-align: center;
	border-top: 2px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	box-shadow: 0 0.3px 0 0 #c0c0c0;
}

tbody tr:nth-child(n+1):nth-child(-n+10) td {
	border-bottom: 1px solid #e0e0e0;
}

/* 마지막 줄 스타일 */
tbody tr:last-child td {
	border-bottom: 2px solid #c0c0c0;
}

td {
	padding: 10px;
	text-align: center;
	color: rgb(62, 30, 17);
}

.pagination a {
	margin: 0 5px;
	padding: 5px 10px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 5px;
}

.pagination a:hover {
	background-color: #8B4513;
	color: white;
}

.pagination a.active {
	background-color: #8B4513;	
	color: white;
}

.pagination {
	display: flex;
	justify-content: center;
}

.scheduler form{
	margin-bottom: 10px;	
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.scheduler label {
	margin-right: 10px;
	font-size: 14px;
	color: #333;
}

.scheduler input {
	padding: 5px;
	margin: 0 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.scheduler button{
	padding:5px;
	border-radius: 5px;
	border:none;
	background-color: #8B4513;
	color: white;
	
}

@media all and (max-width: 800px) {
	.mTable caption {
		font-size: 1.3em;
		
	}
	.mbclose{
	display:none !important;
	}
	
	.mTable {
		border: 0;
	}

	.mTable thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	.mTable th {
		display: block;
	}

	.mTable tr {
		border-top: 3px solid gray;
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: .625em;
	}

	.mTable td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: .8em;
		text-align: right;
	}

	.mTable td::before {
		content: attr(data-label); /*data-label을 가상요소 표출*/
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}

	.mTable td:last-child {
		border-bottom: 0;
	}
}